@model IEnumerable<NspStore.Web.Areas.Admin.ViewModels.OrderVm>
@using NspStore.Domain.Enums
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1 class="h1">Заказы</h1>

<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Адрес</th>
            <th>Статус</th>
            <th>Сумма</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var o in Model)
        {
            <tr>
                <td>@o.Id</td>
                <td>@o.CreatedAt.ToLocalTime().ToString("dd.MM.yyyy HH:mm")</td>
                <td>@o.ShippingAddress</td>
                <td>@o.Status</td>
                <td>@o.Total.ToString("0.00") BYN</td>
                <td>
                    <a class="btn btn--sm" asp-action="Details" asp-route-id="@o.Id">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
